.heading-container{
    display:flex;
    padding-top:70px;
    margin-bottom: 0;
    overflow-x: hidden;
    position:relative; 
       
}

.heading{
    color:#3498db;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    margin-bottom: 20px;
    display:flex;
    animation:scroll 13s linear 1;
    position: relative;
}


@keyframes scroll{
    0% {
        transform: translateX(0%);
    }
    50%{
        transform:translateX(-100%)
    }
}






.P1{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-family:Arial,sans-serif;
    margin-top: 0px;
    
    
}
.slogan{
    font-weight: bolder;
    text-decoration: underline;
    font-size:16px;
}





.header{
    display:flex;
    flex-wrap:wrap;
    border-style:solid;
    border-radius: 5px;
    border-bottom: 0cm;
    border-color:black;
    align-items: center;
    position:fixed;
    z-index: 100;
    right: 0;
    top:0;
    left:0;
    background-color:#87CEEB;
}


.about-us-button{
    display: flex;
    min-width: 100px;
    margin-left: 20px;
    justify-content:center;
}
.about-us-button:hover{
    cursor:pointer;
}

.search-bar{
    display:flex;
    margin-left:5px;
    margin-top: 4.8px;
    position: relative;
}


.place-holder{
    display:flex;
    color:rgb(139, 133, 133);
    padding:10px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 18px;
    min-width: auto;
    border-style: dotted;
}
.search-icon{
    padding: 10px;
    margin-left: -3px;
    background-color:#00d4;
    position:absolute;
    right:0;
    z-index: 101;
}

.home-tag{
    display: flex;
    min-width: 100px;
    margin-left: 20px;
    justify-content:center;
}
.home{
    font-family: 'roboto',sans-serif;
    text-decoration: none;
    color:black;
    text-align: center;
}
.home-tag:hover{
    cursor:pointer;
}

.account-button{
    display:flex;
    min-width:60px;
    margin-left:20px;
    justify-content: center;
}

.account-tag{
    font-family: 'roboto',sans-serif;
}